<div class="modal hide fade in" id="login-modal" style="display: block; ">
    <a class="close" data-dismiss="modal">×</a>
    <h1>Log in to tasQ</h1>     
    <fieldset>            
        <input type="text" placeholder="Username or email" name="username" maxlength="30" id="id_username">
        <input type="password" placeholder="Password" name="password" id="id_password">
        <a href="#" class="btn">Log in</a>
    </fieldset>
     <a href="#"><span>Forgot password?</span></a> · <a href="#"><span>Sign up to tasQ</span></a>    
</div>