<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">tasQ</a>
			<a class="btn btn-primary pull-right" data-toggle="modal" href="#login-modal" id="login-btn">
				Login
			</a>
		</div>
	</div>
</div>

<div class="modal hide fade" id="login-modal">
	<div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h1>Log in to tasQ</h1>
  	</div>
    <fieldset>
        <input type="text" placeholder="Username or email" name="username" maxlength="30" id="id_username">
        <input type="password" placeholder="Password" name="password" id="id_password">
        <input type="submit" value="Log in" class="btn" id="login-btn"/>
    </fieldset>
    <div class="modal-footer">
    	<a href="#"><span>Forgot password?</span></a> · <a href="#"><span>Sign up to tasQ</span></a>
    </div>
</div>
